<nav class="current">
	<h1>Sign up</h1>
</nav>
<article id="sign-up" class="current">
	<section>
		<h1 class="text-center text-green">Medi<strong class="text-black">App</strong><span class="icon-medical10"></span></h1>
		<%= form_for :user, url: {action: "create"}, html: { class: "text-center"} do |f| %>
			<%= f.email_field :email , placeholder:"Email Address"%><br/>
			<%= f.text_field :name , placeholder:"User Name"%><br/>
			<%= f.password_field :password, placeholder:"Password" %><br/>
			<%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %><br/>
			<%= f.submit "create account", class:"btn btn-green"%>
		<% end %>
		<br/>
		<br/>
		<div class="text-center">
			<a class='btn text-green btn-block' href="<%=root_path%>">Sign In</a>
			<a href="<%=root_path%>" class="btn text-green btn-block">Recover Account</a>
		</div>
	</section>
</article>