<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="msapplication-tap-highlight" content="no">

  <title><%= @title rescue 'MediApp'%></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%if @windows %>
  <%= stylesheet_link_tag 'chui-win-3.8.1.min', media: 'all', 'data-turbolinks-track' => true %>
  <%end%>
  <%if @android %>
  <%= stylesheet_link_tag 'chui-android-3.8.1.min', media: 'all', 'data-turbolinks-track' => true %>
  <%end%>
  <%if @iphone %>
  <%= stylesheet_link_tag 'chui-ios-3.8.1.min', media: 'all', 'data-turbolinks-track' => true %>
  <%end%>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
